<header class="flex flex-row justify-between items-center space-x-4 bg-white py-2 px-2
 dark:bg-gray-800 text-2 text-gray-500 dark:text-gray-200 transition-colors duration-200">
  <img href="#" class="hover:text-gray-700 dark:hover:text-white" class="h-8" src="/assets/antheia.png" alt="Antheia" title="Wähle eine Kategorie:">
  <nav class="flex flex-row space-x-6 font-semibold">
    <a href="#" class="hover:text-gray-700 dark:hover:text-white">About us</a>
    <a href="#" class="hover:text-gray-700 dark:hover:text-white">Services</a>
    <a href="#" class="hover:text-gray-700 dark:hover:text-white">Blog</a>
    <a href="#" class="hover:text-gray-700 dark:hover:text-white">Contact</a>
     </nav>
</header>
