
<header class="flex flex-row justify-between items-center space-x-4 bg-white py-6 px-6">
  <a href="#" class="block">
    <span class="sr-only" style="text-align: center">Antheia</span>
  </a>
  <nav class="flex flex-row space-x-6 font-semibold">
    <a href="#" class="text-indigo-600 hover:underline">Home</a>
    <a href="#" class="text-gray-600 hover:underline">About us</a>
    <a href="#" class="text-gray-600 hover:underline">Services</a>
    <a href="#" class="text-gray-600 hover:underline">Blog</a>
    <a href="#" class="text-gray-600 hover:underline">Contact</a>
    <img href="#" class="text-gray-600 hover:underline" class="h-8" src="/assets/antheia.png" alt="Antheia" title="Wähle eine Kategorie:">
  </nav>
</header>
