<app-side-nav></app-side-nav>
<div class="bg-gray-50 text-gray-800">
<p style="text-align: center; margin-top: 10px" class="text-2xl ">Arbeitsplatz</p>
<!-- component -->







  <!-- another section for the details-->
<div class="min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-gray-50 text-gray-800">
  <div class="fixed flex flex-col top-20 left-0 w-64 bg-white h-full border-r">
    <nav class="container" xmlns:x-transition="http://www.w3.org/1999/xhtml">
      <ol class="list-reset py-4 pl-4 rounded flex bg-grey-light text-grey">
        <li class="px-2"><a href="/home" class="no-underline text-indigo">Home</a></li>
        <li>/</li>
        <li class="px-2">Arbeitsplatz</li>
      </ol>
    </nav>
    <div class="overflow-y-hidden overflow-x-hidden flex-grow">
      <ul class="flex flex-col py-4 space-y-1">
        <li class="px-5">
          <div class="flex flex-row items-center h-8">
            <div class="text-sm font-light tracking-wide text-gray-500">Kategorien</div>
          </div>
        <li>
          <a href="/home" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
            <span class="material-icons inline-flex justify-center items-center ml-4">
             directions_bike </span>
            <span class="ml-2 text-sm tracking-wide truncate">Mobilität</span>
          </a>
        </li>
        <li>
          <a href="/home" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
            <span class=" material-icons inline-flex justify-center items-center ml-4">api</span>
            <span class="ml-2 text-sm tracking-wide truncate">Software</span>
          </a>
        </li>
        <li>
          <a href="/home" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
            <span class="material-icons inline-flex justify-center items-center ml-4">public</span>
            <span class="ml-2 text-sm tracking-wide truncate">Öffentlicher Raum</span>

          </a>
        </li>
        <li>
          <a href="/home" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
            <span class="material-icons inline-flex justify-center items-center ml-4">
             cottage </span>
            <span class="ml-2 text-sm tracking-wide truncate">Zu Hause</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>

