<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-gray-50 text-gray-800">
      <div class="fixed flex flex-col top-20 left-0 w-64 bg-gray-800 h-full shadow-lg">
        <div class="flex items-center pl-6 h-20 border-b border-gray-800">
          <img href="#" routerLink="/home" [routerLinkActiveOptions]="{exact:true}"
               routerLinkActive="active" src="https://scontent.fmnl13-1.fna.fbcdn.net/v/t1.0-9/117334168_2606581056324669_4951020710334194218_o.jpg?_nc_cat=101&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeFo4bRKc5SfTQvzhwotnTaOfj1P6rO41HF-PU_qs7jUcU1pCerqu3HUsOB0yKyJQwnrgz8Au7GZADcpedo6WgM4&_nc_ohc=DWpkI3p4RSUAX_hKF_Y&_nc_ht=scontent.fmnl13-1.fna&oh=c13c63ee952123b14f0da72b99ccecc8&oe=6087FEC5" alt="" class="rounded-full h-10 w-10 flex items-center justify-center mr-3 border-2 border-blue-500">
          <div class="ml-1">
            <p class="ml-1 text-md font-medium tracking-wide truncate text-gray-100 font-sans">Antheia User</p>
            <div class="badge">
              <span class="px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-blue-800 bg-blue-100 rounded-full">Admin</span>
            </div>
          </div>
        </div>
        <div class="overflow-y-auto overflow-x-hidden flex-grow">
          <ul class="flex flex-col py-6 space-y-1">
            <li class="px-5">
              <div class="flex flex-row items-center h-8">
                <div class="flex font-semibold text-sm text-gray-300 my-4 font-sans uppercase">HOME</div>
              </div>
            </li>

            <li>
              <p href="#" routerLink="/issue-tracker" [routerLinkActiveOptions]="{exact:true}"
                 routerLinkActive="active" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-700 text-gray-500 hover:text-gray-200 border-l-4 border-transparent hover:border-blue-500 pr-6">
                <span class="material-icons" >bug_report</span>
                <span class="ml-2 font-semibold text-sm tracking-wide truncate font-sans">Issue Tracker</span>

              </p>
            </li>
            <li>
              <p href="#" routerLink="/challenge-board" [routerLinkActiveOptions]="{exact:true}"
                 routerLinkActive="active" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-700 text-gray-500 hover:text-gray-200 border-l-4 border-transparent hover:border-blue-500 pr-6">
                <span class="material-icons" >developer_board</span>
                <span class="ml-2 font-semibold text-sm tracking-wide truncate font-sans">Challenge Board</span>

              </p>
            </li>
            <li>
              <p href="#" routerLink="/rewards" [routerLinkActiveOptions]="{exact:true}"
                 routerLinkActive="active" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-700 text-gray-500 hover:text-gray-200 border-l-4 border-transparent hover:border-blue-500 pr-6">
                <span class="material-icons" >emoji_events</span>
                <span class="ml-2 font-semibold text-sm tracking-wide truncate font-sans">Rewards</span>

              </p>
            </li>
            <li>
              <p href="#" routerLink="/leader-board" [routerLinkActiveOptions]="{exact:true}"
                 routerLinkActive="active" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-700 text-gray-500 hover:text-gray-200 border-l-4 border-transparent hover:border-blue-500 pr-6">
                <span class="material-icons" >leaderboard</span>
                <span class="ml-2 font-semibold text-sm tracking-wide truncate font-sans">Leader Board</span>

              </p>
            </li>
            <li>
              <p href="#" routerLink="/inbox" [routerLinkActiveOptions]="{exact:true}"
                 routerLinkActive="active" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-700 text-gray-500 hover:text-gray-200 border-l-4 border-transparent hover:border-blue-500 pr-6">
                <span class="material-icons" >mail</span>
                <span class="ml-2 font-semibold text-sm tracking-wide truncate font-sans">Inbox</span>
                <span class="px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-blue-500 bg-blue-100 rounded-full">New</span>
              </p>
            </li>
            <li class="px-5">
              <div class="flex flex-row items-center h-8">
                <div class="flex font-semibold text-sm text-gray-300 my-4 font-sans uppercase">Settings</div>
              </div>
            </li>
            <li>
              <p href="#" routerLink="/profile" [routerLinkActiveOptions]="{exact:true}"
                 routerLinkActive="active" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-700 text-gray-500 hover:text-gray-200 border-l-4 border-transparent hover:border-blue-500 pr-6">
                <span class="material-icons" >person</span>
                <span class="ml-2 font-semibold text-sm tracking-wide truncate font-sans">Profile</span>
              </p>
            </li>
            <li>
              <p href="#" routerLink="/settings" [routerLinkActiveOptions]="{exact:true}"
                 routerLinkActive="active" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-700 text-gray-500 hover:text-gray-200 border-l-4 border-transparent hover:border-blue-500 pr-6">
                <span class="material-icons" >settings</span>
                <span class="ml-2 font-semibold text-sm tracking-wide truncate font-sans">Settings</span>
              </p>
            </li>
            <li>
              <p href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-700 text-gray-500 hover:text-gray-200 border-l-4 border-transparent hover:border-red-500 pr-6">
                <span class="material-icons" >logout</span>
                <span class="ml-2 font-semibold text-sm tracking-wide truncate font-sans">Logout</span>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>
</mat-drawer-container>

