<div class="header" style=" justify-content: center">
  <h1 style=" text-align: center"><b>Meine Challenges</b></h1>
  <ul class="breadcrumb">
    <li><a href="/home">Home</a></li>
    <li>Challenge Board</li>
  </ul>
</div>
<!-- component -->
<div id="container" class="w-4/5 mt-44 ml-72">
  <div class="flex flex-col sm:flex-row">
    <!-- Card 1 -->
    <div class="sm:w-1/4 p-2">
      <div class="bg-white px-6 py-8 rounded-lg shadow-lg text-center">
        <div class="mb-3">
       <!--   <img
            class="w-auto mx-auto rounded-full"
            src="https://i.pravatar.cc/150?img=66"
            alt=""
          />-->
          <img src="assets/annie-spratt-_dAnK9GJvdY-unsplash.jpg" alt="photo" class=" w-24 h-24 mx-auto rounded-full">
        </div>
        <h2 class="text-xl font-medium text-gray-700">Papierverbrauch zu hoch</h2>
        <span class="text-blue-500 block mb-5">Es werden zu viele E-Mails ausgedruckt. Wie können wir den Papierverbrauch senken?
        </span>

        <button href="#"  href="#" routerLink="/challenge-details" [routerLinkActiveOptions]="{exact:true}"
           routerLinkActive="active" class="px-4 py-2 bg-blue-500 text-white rounded-full">Go to Challenge</button>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="sm:w-1/4 p-2">
      <div class="bg-white px-6 py-8 rounded-lg shadow-lg text-center">
        <div class="mb-3">
        <!--  <img
            class="w-auto mx-auto rounded-full"
            src="https://i.pravatar.cc/150?img=31"
            alt=""
          />-->
          <img src="assets/christina-wocintechchat-com-r1dsQ4-cTqI-unsplash.jpg" alt="photo" class=" w-24 h-24 mx-auto rounded-full">
        </div>
        <h2 class="text-xl font-medium text-gray-700">Grünere Software</h2>
        <span class="text-blue-500 block mb-5">Unsere Software verbraucht zu viel energie. Auf "leichtere" Software umsteigen</span>

        <button href="#" class="px-4 py-2 bg-blue-500 text-white rounded-full"
        >Go to Challenge</button
        >
      </div>
    </div>

    <!-- Card 3 -->
    <div class="sm:w-1/4 p-2">
      <div class="bg-white px-6 py-8 rounded-lg shadow-lg text-center">
        <div class="mb-3">
        <!--  <img
            class="w-auto mx-auto rounded-full"
            src="https://i.pravatar.cc/150?img=18"
            alt=""
          />-->
          <img src="assets/ruffa-jane-reyes-dlGhQPIstkQ-unsplash.jpg" alt="photo" class=" w-24 h-24 mx-auto rounded-full">
        </div>
        <h2 class="text-xl font-medium text-gray-700">Fahrgruppen</h2>
        <span class="text-blue-500 block mb-5">Unser Portal für die Fahrgruppen für Dienstreisen wird nicht benutzt</span>

        <button href="#" class="px-4 py-2 bg-blue-500 text-white rounded-full"
        >Go to Challenge</button
        >
      </div>
    </div>

    <!-- Card 4 -->
    <div class="sm:w-1/4 p-2">
      <div class="bg-white px-6 py-8 rounded-lg shadow-lg text-center">
        <div class="mb-3">
         <!-- <img
            class="w-auto mx-auto rounded-full"
            src="https://i.pravatar.cc/150?img=28"
            alt=""
          />-->
          <img src="assets/waldemar-brandt-rHfTdK9YU2Q-unsplash.jpg" alt="photo" class=" w-24 h-24 mx-auto rounded-full">
        </div>
        <h2 class="text-xl font-medium text-gray-700">E-Ladesäulen</h2>
        <span class="text-blue-500 block mb-5">Nicht zur Arbeit mit unseren E-Autos, weil keine E-LAdesäulen zur Verfügung stehen.</span>

        <button href="#" class="px-4 py-2 bg-blue-500 text-white rounded-full"
        >Go to Challenge</button
        >
      </div>
    </div>
  </div>
</div>
