<app-side-nav></app-side-nav>
<!-- component -->
<div class="border-b">
  <div class="my-4 px-6">
    <h2 class="font-semibold text-2xl mb-8" style="text-align: center"> Papierverbrauch Challenge</h2>
  </div>
</div>
<div class="bg-white w-4/5 mt-30 ml-72">
  <div class="grid grid-cols-12 gap-0 mx-auto">
    <div class="col-span-12 sm:col-span-12 md:col-span-5 lg:col-span-4 xxl:col-span-4 mx-auto">
      <div>
        <div class="py-2">
          <h4 class="text-2xl font-semibold text-justify">Für 7 Tage sollen keine E-Mails und so gut es geht keine
            anderen Dokumente gedruckt werden. Für jedes nicht gedruckte Dokument kann in der Challenge der Zähler
            hochgesetzt werden und das gesparte CO2 wird eurem Ersparten CO2 Konto gutgeschrieben. Anstatt Dokumente auf
            dem Laptop oder dem Desktop PC zu lesen ist auch die Nutzung eines Tablets sehr komfortable, und sehr
            Papiernah. Wenn Ihr andere Papierlose Ideen habt macht doch btte ein Foto und helft euren Kollegen diese
            Challenge zu schaffen.</h4>
          <img class="mx-auto" src="assets/tablet.jpg" width="300">
        </div>
        <div class="mx-auto justify-center py-2 grid grid-cols-2 gap-1 mt-6">
          <div class="mx-auto">
            <h3 class="font-semibold text-2xl">Kategorie</h3>
          </div>

          <div class="mx-auto">
            <h3 class="font-semibold text-2xl">Umwelteinfluss</h3>
          </div>

          <!--          <div class="mx-auto">
                      <h3 class="font-semibold text-2xl">Dauer</h3>
                    </div>-->

          <div class="mx-auto">
            <img src="assets/green-power.png" alt="Strom sparen" width="100" height="100">
            <p>Strom sparen</p>
          </div>

          <div class="mx-auto">
            <img src="assets/co2.png" width="100" height="100">
            <p>500g CO²</p>
          </div>

          <!--          <div class="mx-auto">-->
          <!--            <img src="assets/schedule.png" width="100" height="100">-->
          <!--            <div class="mx-auto">Einen Tag</div>-->
          <!--          </div>-->
        </div>

        <!-- Calendar -->
        <div class="mx-auto">
          <div class="flex flex-grow flex-col bg-white sm:rounded overflow-hidden">
            <div class="flex">
              <div class="flex flex-wrap bg-white overflow-hidden mx-auto">
                <div class="w-auto my-3 border-solid border-grey-light rounded border shadow-sm">
                  <div class="bg-grey-lighter px-2 py-2 border-solid border-grey-light border-b text-center">August 2021</div>
                  <div class="">
                    <table class="w-full">
                      <tr class="border-b">
                        <th class="py-3 px-4">S</th>
                        <th class="py-3 px-4">M</th>
                        <th class="py-3 px-4">T</th>
                        <th class="py-3 px-4">W</th>
                        <th class="py-3 px-4">T</th>
                        <th class="py-3 px-4">F</th>
                        <th class="py-3 px-4">S</th>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="py-3 px-4 hover:bg-blue hover:text-white text-center cursor-pointer">1</td>
                      </tr>
                      <tr>
                        <td class="py-3 px-4 hover:bg-blue text-center cursor-pointer">2</td>
                        <td class="py-3 px-4 hover:bg-blue text-center cursor-pointer">3</td>
                        <td class="py-3 px-4 hover:bg-blue text-center cursor-pointer">4</td>
                        <td class="py-3 px-4 hover:bg-blue text-center cursor-pointer">5</td>
                        <td class="py-3 px-4 hover:bg-blue text-center cursor-pointer text-white" style="background-color: #3490dc">6</td>
                        <td class="py-3 px-4 hover:bg-blue text-center cursor-pointer text-white" style="background-color: #3490dc">7</td>
                        <td class="py-3 px-4 hover:bg-blue text-center cursor-pointer text-white" style="background-color: #3490dc">8</td>
                      </tr>
                      <tr>
                        <td class="py-3 px-4 hover:bg-blue text-center cursor-pointer text-white" style="background-color: #3490dc">9</td>
                        <td class="py-3 px-4 hover:bg-blue text-center cursor-pointer text-white" style="background-color: #3490dc">10</td>
                        <td class="py-3 px-4 hover:bg-blue text-center cursor-pointer text-white" style="background-color: #3490dc">11</td>
                        <td class="py-3 px-4 hover:bg-blue text-center cursor-pointer text-white" style="background-color: #3490dc">12</td>
                        <td class="py-3 px-4 hover:bg-blue text-center cursor-pointer">13</td>
                        <td class="py-3 px-4 hover:bg-blue text-center cursor-pointer">14</td>
                        <td class="py-3 px-4 hover:bg-blue text-center cursor-pointer">15</td>
                      </tr>
                      <tr>
                        <td class="py-3 px-4 hover:bg-blue text-center cursor-pointer">16</td>
                        <td class="py-3 px-4 hover:bg-blue text-center cursor-pointer">17</td>
                        <td class="py-3 px-4 hover:bg-blue text-center cursor-pointer">18</td>
                        <td class="py-3 px-4 hover:bg-blue text-center cursor-pointer">19</td>
                        <td class="py-3 px-4 hover:bg-blue text-center cursor-pointer">20</td>
                        <td class="py-3 px-4 hover:bg-blue text-center cursor-pointer">21</td>
                        <td class="py-3 px-4 hover:bg-blue text-center cursor-pointer">22</td>
                      </tr>
                      <tr>
                        <td class="py-3 px-4 hover:bg-blue text-center cursor-pointer">23</td>
                        <td class="py-3 px-4 hover:bg-blue text-center cursor-pointer">24</td>
                        <td class="py-3 px-4 hover:bg-blue text-center cursor-pointer">25</td>
                        <td class="py-3 px-4 hover:bg-blue text-center cursor-pointer">26</td>
                        <td class="py-3 px-4 hover:bg-blue text-center cursor-pointer">27</td>
                        <td class="py-3 px-4 hover:bg-blue text-center cursor-pointer">28</td>
                        <td class="py-3 px-4 hover:bg-blue text-center cursor-pointer">29</td>
                      </tr>
                      <tr>
                        <td class="py-3 px-4 hover:bg-blue text-center cursor-pointer">30</td>
                        <td class="py-3 px-4 hover:bg-blue text-center cursor-pointer">31</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-8">
            <h1 class="font-semibold text-2xl">Dein aktueller Fortschritt</h1>
            <div class="mt-2 relative rounded-full overflow-hidden">
              <div class="w-full h-full bg-gray-200 absolute "></div>
              <div class="h-full bg-yellow-400 sm:bg-green-500 absolute" style="width:80%"></div>
              &lt;!&ndash; <span class="text-xs text-yellow-400">80%</span> &ndash;&gt;
            </div>
          </div>
        </div>
        <!-- End Calendar -->

        <!-- Counter -->
        <div class="py-6 flex flex-wrap">
          <div class="flex w-8/12">
            <input type="text" value="7"
                   class="bg-white text-sm text-gray-900 text-center focus:outline-none border border-gray-800 focus:border-gray-600 rounded-l-md w-full">
          </div>
          <div class="flex flex-col w-4/12">
            <button
              class="text-white text-center text-md font-semibold rounded-tr-md px-1 bg-gray-800 focus:bg-gray-600 focus:outline-none border border-gray-800 focus:border-gray-600">
              +
            </button>
            <button
              class="text-white text-center text-md font-semibold rounded-br-md px-1 bg-gray-800 focus:bg-gray-600 focus:outline-none border border-gray-800 focus:border-gray-600">
              -
            </button>
          </div>
        </div>
        <!-- End Counter -->

        <!-- Buttons -->
        <div class="mt-8">
          <button href="#" routerLink="/challenge-board" routerLinkActive="active"
                  class="mr-6 my-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Zurück
          </button>
        </div>
        <!-- End Buttons -->

      </div>
    </div>
  </div>
</div>
