<app-side-nav></app-side-nav>
<div class="min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-gray-50 text-gray-800">
  <p style="text-align: center; margin-top: 10px" class="text-2xl">Wähle eine Kategorie</p>
  <div class="uk-align-left" style="margin-top: 200px; margin-left: 250px">
    <div class="flex mt-16">
      <div class="mx-auto flex gap-10">
        <div class="w-auto h-auto">
          <div class="flex-1 h-full">
            <div class="flex items-center justify-center flex-1 h-full p-2  shadow rounded-lg">
              <div class="relative">
                <button type="button" class="material-icons h-44 w-44 bg-gray-50" >
                  directions_bike
                </button>
                <p style="text-align: center">Mobilität</p>
              </div>
            </div>

          </div>

        </div>

        <div class="w-auto h-auto">
          <div class="flex-1 h-full">
            <div class="flex items-center justify-center flex-1 h-full p-2 shadow rounded-lg">
              <div class="relative">
                <button  href="#" routerLink="/arbeitsplatz" [routerLinkActiveOptions]="{exact:true}"
                         routerLinkActive="active" type="button" class="material-icons h-44 w-44 bg-gray-50">
                  maps_home_work
                </button>
                <p style="text-align: center">Arbeitsplatz</p>
              </div>
            </div>
          </div>

        </div>

        <div class="w-auto h-auto">
          <div class="flex-1 h-full">
            <div class="flex items-center justify-center flex-1 h-full p-2 shadow rounded-lg">
              <div class="relative">
                <button type="button" class="material-icons h-44 w-44 bg-gray-50 ">
                  cottage
                </button>
                <p style="text-align: center">Zu Hause</p>
              </div>
            </div>
          </div>

        </div>

        <div class="w-auto h-auto">
          <div class="flex-1 h-full">
            <div class="flex items-center justify-center flex-1 h-full p-2 shadow rounded-lg">
              <div class="relative">
                <button type="button" class="material-icons h-44 w-44 bg-gray-50">
                  public
                </button>
                <p style="text-align: center">Öffentlicher Raum</p>
              </div>
            </div>
          </div>

        </div>


        <div class="w-auto h-auto">
          <div class="flex-1 h-full">
            <div class="flex items-center justify-center flex-1 h-full p-2 shadow rounded-lg">
              <div class="relative">
                <button type="button" class="material-icons h-44 w-44 bg-gray-50">
                  api
                </button>
                <p style="text-align: center">Software</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
